@model MyPortfolioMvc.Models.PostCreateDateViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Posts" asp-action="Index" method="get">
    <p>
        <select asp-for="PostCreateDate" asp-items="Model.CreateDates">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString"  />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Meta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].UrlSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].IsPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].PostedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].DeletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlSlug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
